.btn-wrap {
    display: flex;
    justify-content: center;
    
    button {
        padding: 15px 20px;
        border: none;
        border-radius: 8px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
}
