$primaryBlue:rgb(62, 149, 226);

$cellBlue: rgb(42, 192, 221);

$lightBlue: rgb(119, 229, 246);

$yellow: rgb(252, 244, 29);

$pink: rgb(247, 60, 166);

$green: rgb(10, 73, 15);

$lightGreen: rgb(25, 146, 97);

$red: rgb(248, 5, 5);