@import "../../utils/styles/colors.scss";
.matrixCreator {
    width: 400px;
    display: flex;
    flex-direction: column;

    .inputValues-wrap {
        display: flex;
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 60px;
        color: $yellow;
    }

    .mainPageBtn {
        background-color: $lightBlue;
        color: $pink;
    }

    .btn-wrap {
        margin-top: 15px;
    }
}
