@import "../../utils/styles/colors.scss";
.matrix-wrap {
    font-size: 20px;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .btn-wrap{
        margin: 15px 0;
    }

    .addRowBtn {
        background-color: $yellow;
        color: $green;
    }

    .deleteBtn {
        cursor: default;
    }

    td,th {
        border-radius: 6px;
        padding: 12px;
        text-align: center;
    }

    .blueCells{
        background-color: $cellBlue;
    }

    .blueCells:hover {
        background-color: $red;
    }

    .greenCells {
        background-color: $lightGreen;
        color: #fff;
    }
    .deleteTheRow {
        background-color: transparent;
        border: none;
        img{
            width: 30px;
        }
    }
}